.circles {
    height: 50%;
    width: 50%;
    // border: 1px solid black;
    margin: 0 0 0 20%;
  .main {
    width: 10%;
    height: 10%;
    // border: 1px solid #ccc;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    margin: 22% 0 0 50%;
  }

  .main-2 {
    width: 10%;
    height: 10%;
    // border: 1px solid #ccc;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    margin: auto;
    border-radius: 50%;
    margin: 22% 0 0 10%;
  }

  .main-3 {
    width: 10%;
    height: 10%;
    // border: 1px solid #ccc;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60%;
    right: 60%;
    margin: auto;
    border-radius: 50%;
    margin: 22% 0 0 10%;
  }

  .circle {
    width: 200%;
    height: 400%;
    background: rgb(143, 192, 192);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    animation: circle 20s linear infinite;
    opacity: 50%;
  }

  .circle-2 {
    width: 200%;
    height: 400%;
    background: rgb(208, 114, 226);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    animation: circle 26s linear infinite;
    animation-direction: reverse;
    opacity: 50%;
  }

  .circle-3 {
    width: 200%;
    height: 400%;
    background: rgb(129, 179, 131);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    animation: circle 18s linear infinite;
    animation-direction: reverse;
    opacity: 50%;
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}

@keyframes circle-2 {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}

@keyframes circle-3 {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}
