$size1500: "1500px";
$size1000: "1000px";
$size800: "800px";
$size500: "500px";
$size375: "375px";

.circles {
  .main {
    // blue circle
    // border: 1px solid black;
    width: 10%;
    height: 10%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
    margin: 22% 0 0 50%;
    @media (max-width: $size1500) {
      margin: 22.5% 0 0 60%;
      height: 8%;
      width: 8.5%;
    }
    @media (max-width: $size1000) {
      margin: 42% 0 0 55%;
      height: 7.5%;
      width: 12%;
    }
    @media (max-width: $size800) {
      margin: 75% 0 0 65%;
      height: 4.5%;
      width: 9%;
    }
    @media (max-width: $size500) {
      margin: 130% 0 0 30%;
      height: 3%;
    }
    @media (max-width: $size375) {
      height: 2.2%;
      margin: 185% 0 0 30%;
    }
  }

  .main-2 {
    // pink circle
    // border: 1px solid black;
    width: 10%;
    height: 10%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 50%;
    margin: auto;
    border-radius: 50%;
    margin: 22% 0 0 10%;
    @media (max-width: $size1500) {
      margin: 32.5% 0 0 20%;
      height: 8%;
      width: 8.5%;
    }
    @media (max-width: $size1000) {
      margin: 42% 0 0 15%;
      height: 7.5%;
      width: 12%;
    }
    @media (max-width: $size800) {
      margin: 75% 0 0 0%;
      height: 4.5%;
      width: 9%;
    }
    @media (max-width: $size500) {
      margin: 125% 0 0 -5%;
      height: 3%;
    }
    @media (max-width: $size375) {
      height: 2%;
      margin: 190% 0 0 -5%;
    }
  }

  .main-3 {
    // green circle
    // border: 1px solid black;
    width: 10%;
    height: 10%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 60%;
    right: 60%;
    margin: auto;
    border-radius: 50%;
    margin: 22% 0 0 10%;
    @media (max-width: $size1500) {
      margin: 25.5% 0 0 101000%;
      height: 8%;
      width: 8.5%;
    }
    @media (max-width: $size1000) {
      margin: 45% 0 0 0%;
      height: 7.5%;
      width: 12%;
    }
    @media (max-width: $size800) {
      margin: 75% 0 0 5%;
      height: 4.5%;
      width: 9%;
    }
    @media (max-width: $size500) {
      margin: 125% 0 0 -5%;
      height: 3%;
    }
    @media (max-width: $size375) {
      height: 2%;
      margin: 195% 0 0 -5%;
    }
  }

  .circle {
    width: 200%;
    height: 400%;
    background: rgb(143, 192, 192);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    animation: circle 20s linear infinite;
    opacity: 50%;
  }

  .circle-2 {
    width: 200%;
    height: 400%;
    background: rgb(208, 114, 226);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    animation: circle 26s linear infinite;
    animation-direction: reverse;
    opacity: 50%;
  }

  .circle-3 {
    width: 200%;
    height: 400%;
    background: rgb(129, 179, 131);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    animation: circle 18s linear infinite;
    animation-direction: reverse;
    opacity: 50%;
  }
}

@keyframes circle {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}

@keyframes circle-2 {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}

@keyframes circle-3 {
  0% {
    transform: rotate(0deg) translate(-165px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(-165px) rotate(-360deg);
  }
}

//rotation width at 1500
@media (max-width: $size1500) {
  @keyframes circle {
    0% {
      transform: rotate(0deg) translate(-55px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translate(-55px) rotate(-360deg);
    }
  }
}

// rotation width at 800
@media (max-width: $size800) {
  @keyframes circle {
    0% {
      transform: rotate(0deg) translate(-75px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translate(-75px) rotate(-360deg);
    }
  }
}

// rotation width at 375
@media (max-width: $size375) {
  @keyframes circle {
    0% {
      transform: rotate(0deg) translate(-25px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translate(-25px) rotate(-360deg);
    }
  }
}