@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@900&family=Montserrat&display=swap');

$bodoni-moda: "Bodoni Moda", serif;
$montserrat: "Montserrat", sans-serif;

.background {
  background-color: #eddfdf;
  width: auto;
  height: auto;
  margin: 0 0 20% 0;
}

h1 {
  font-size: 5em;
  padding: 10% 0 0 10%;
  font-family: $bodoni-moda;
}

.par-1 {
  font-size: 1.4em;
  color: #707070;
  padding: 0 0 0 10%;
  font-family: $montserrat;
}

.par-2 {
  font-size: 1.4em;
  color: #707070;
  padding: 0.5% 0 0 10%;
  font-family: $montserrat;
}
