@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@900&family=Montserrat&display=swap");

$bodoni-moda: "bodoni-mota", serif;
$montserrat: "montserrat", sans-serif;

$size1500: "1500px";
$size1000: "1000px";
$size800: "800px";
$size500: "500px";
$size375: "375px";

.navbar {
  width: 100%;
  min-height: 6vh;
  display: flex;
  flex-direction: row;
  background-color: none;
  transition: all 0.7s ease-in;
  text-decoration: none;
  @media (max-width: $size500) {
    width: 100%;
    margin: 0%;
  }
  @media (max-width: $size375) {
    width: 100%;
  }
}

.navigation {
  align-items: baseline;
  width: 100%;
  height: auto;
  font-family: $montserrat;
  font-size: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media (max-width: $size500) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media (max-width: $size375) {
    width: 100%;
  }
  a:hover {
    color: rgb(192, 191, 191);
  }
  :visited {
    color: #000000;
  }
  ul {
    width: 25%;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    @media (max-width: $size1500) {
      width: 30%;
      font-size: .8em;
    }
    @media (max-width: $size1000) {
      width: 100%;
      font-size: .7em;
      margin: 0 0 0 45%;
    }
    @media (max-width: $size800) {
      font-size: .7em;
      width: 40%;
      margin: 0%;
      padding: 0%;
    }
    @media (max-width: $size500) {
      width: 70%;
      margin: 6% auto 0% auto;
    }
    @media (max-width: $size375) {
      width: 100%;
      margin: 0%;
    }
    :link {
      text-decoration: none;
      color: black;
    }
  }
  .logo {
    width: auto;
    height: auto;
    font-size: 2em;
    font-family: $bodoni-moda;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    margin: 0 0 0 1%;
    @media (max-width: $size1500) {
      font-size: 1.8em;
    }
    @media (max-width: $size375) {
      margin: 10% 0 5% 0;
    }
    :hover {
      color: rgb(192, 191, 191);
    }
  }
}

.scrolled {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  @media (max-width: $size800) {
    width: 90%;
  }
}
